* {
    box-sizing: border-box;
    font-family: IBMPlexMono-Light;
    font-style: italic;
}

@font-face {
    font-family: "IBMPlexMono-Light";
    font-style: normal;
    font-display: optional;
    src: url(/fonts/IBM_plex_Mono.woff2) format("woff2");
}